html {
	font-size: 62.5%;
}

body {max-width: 100vw;
	min-width: 100vw;
	background-color: #00FFAC;
	font-size: 2.0rem ; 
	font-family: serif;
	 }

div.header h1{
	font-size: 6.8rem;
	font-style: italic;
	text-shadow: -5px 5px #00FF2D;
}

h1.header{
	font-size: 4.0rem;
	font-style: italic;
	text-shadow: -5px 5px #00FF2D
}

h2.header {
	font-size: 3.2rem;
	font-style: italic;
	text-shadow: -5px 5px #00FF2D
}

div.header p:first-letter{
	font-size: 4.0rem;
	font-style: italic;
	text-shadow: -5px 5px #00FF2D;
}

div.info p {
	line-height: 120%;
	text-align: justify;
	font-size: 2.0rem;
}


div.malnourishedphotos{
	border-style: outset;
	border-color: #00D3FF;
	width: 500px;
	height: 500px;
	background: #00FF2C;
	overflow: hidden;
}

div.Moreanory,a:link { 
	color:#000000;
}

div.Moreanory,a:visited {
	color: #dimgray;
}

div.Moreanory,a:hover{
	color: white;
}

div.Moreanory,a:active {
	color:#db5b00 ;

}
div.footer a{
	display: inline-block;
	width: 100%;
	background-color: #FFAC00;
}
